
<div class="card">
    
    <div>
        <h2><%= message.username %></h2>
        <p><%= message.add %></p>
        <p><%= message.text %></p>
        <% if (message.username === locals.user.username)  {%>
            <div>
                <form action="/home/<%= message.id %>/delete" method="POST">
                    <button>Delete</button>
                </form>
                <form>
                    <button name="modal" onClick="openModal(event, '<%= message.text %>', '<%= message.id %>')">Edit</button>
                </form>
            </div>
        <% } %>
    </div>

</div>

